<div id="container">
  <div id="index">
  <h1> Courses Index </h1>
  <table>
    <tr>
      <th>ID</th> 
      <th>Course Subject + CRS</th> 
      <th>Course Title</th>
    </tr>
    <% @courses.each do |course| %>
    <tr>
      <td><%= course.id %> </td>
      <td><a href="/tree/<%=course.id%>"><%= course.SUBJ%> <%= course.CRS%></a></td>
      <td> <%=course.TITLE%> </td>
    </tr>
    <% end %>
  </table>
  </div>
</div>